Chunk(
    system: "sun",
    entities: [
        (1, Sun(
            direction: (0.37139067, 0.74278134, 0.557086),
            color: (1.6, 1.55, 1.45),
            ambient: (0.08, 0.08, 0.08),
        )),
    ],
)